#CenterPane {
    -fx-background-color: white;
}

#LeftPane {
    -fx-background-color: #3B3D4A;
    -fx-border-width: 0 7 0 0;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, #72b9da, 20.0,0, 0, 0);
}

#TitlePane {
    -fx-background-color: #009688;
    -fx-border-width: 0 0 7 0;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, #72b9da, 20.0,0, 0, 0);
}

#CenterPane {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #72b9da, 20.0,0, 0, 0);
}

#TitleLabel {
    -fx-text-fill: white;//radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, gray, darkgray 75%, dimgray);
    -fx-font-size: 30px;
}

.LeftPaneLabel {
    -fx-text-fill: #A3A7AF;
    -fx-font-size: 20px;
}

.LeftPaneLineEdit {
}

.button {
    -fx-background-color: #009688;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, #72b9da, 20.0,0, 0, 0);
}

.selectButton {
    -fx-background-color: white;
}

.selectButton:selected {
    -fx-background-color: #009688;
    -fx-text-fill: white;
}

.checkBox {
    -fx-text-fill: white;
}

.titleToolButton {
    -fx-background-size: 70% ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-background-color: #00000000;
    -fx-alignment:bottom-center;
    -fx-text-fill: white;
    -fx-background-size: 40px 40px;
}

.titleToolButton:hover {
//    -fx-border-width: 2;
//    -fx-border-color: white;
//    -fx-border-radius: 5;
    -fx-background-color: #FFFFFF1f;
}

.clearReceiveButton {
    -fx-background-image: url("Icon/edit_clear_receive.png");
}

.clearSendButton {
    -fx-background-image: url("Icon/edit_clear_send.png");
}

.saveToFileButton {
    -fx-background-size: 35px 35px;
    -fx-background-image: url("Icon/save.png");
}

.aboutButton {
    -fx-background-size: 40px 40px;
    -fx-background-image: url("Icon/info.png");
}

